bu<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All User</title>
    <style>
        body {
            font-family: Arial, sans-serif;
        }
        .message {
            text-align: center;
            margin-top: 50px;
        }
        .message .highlight {
            color: blue;
            text-decoration: underline;
            cursor: pointer;
        }
    </style>
</head>
<body>
    <div class="message">
        <p>Lis of All user </p>
    </div>
</body>
</html>
